@font-face {
  font-family: "iconfont"; /* Project id 3473939 */
  src: url('iconfont.woff2?t=1655635212278') format('woff2'),
       url('iconfont.woff?t=1655635212278') format('woff'),
       url('iconfont.ttf?t=1655635212278') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e693";
}

